<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>登入者: %s</title>
</head>

<body>
<div class="container">
    <h2 class="bg-success">請選擇想要上傳的檔案</h2>
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/upload">
        <div class="form-group">
            <label class="control-label col-sm-2" for="uploadFile">選擇檔案:</label>
            <div class="col-sm-10">
                <input type="FILE" id="multiplefiles" name="multiplefiles" multiple="multiple"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" >
                <button type="SUBMIT" class="btn btn-primary" value="upload" >上傳</button>
            </div>
        </div>
    </form>
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/AWSupload">
        <div class="form-group">
            <label class="control-label col-sm-2" for="uploadFile">選擇檔案:</label>
            <div class="col-sm-10">
                <input type="FILE" id="multiplefiles" name="multiplefiles" multiple="multiple"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" >
                <button type="SUBMIT" class="btn btn-warning" value="upload" >上傳AWS S3空間</button>
            </div>
        </div>
    </form>
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">目前狀態</h3>
            </div>
            <div class="panel-body">
                %s
            </div>
        </div>
    </form>
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">上傳結果</h3>
            </div>
            <div class="panel-body">
                %s
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>